# Byte-compiled / optimized / DLL files
__pycache__/
data_processing/__pycache__/*
*.py[cod]

# virtual env
venv/
.venv/

.idea/
.idea

/test_data/*

*config.ini
*credentials/
*logs/

*credentials/credentials.json
*credentials*.json
*token.pickle